<li>
    {{name}}

    <button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
        {{#if sleep}}BURGER TIME!{{else}}EAT UP!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DEVOURED!</button>
</li>